.Nclient-FormAtt {
    color: #555;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 1.25rem;
}

.Form-Flex {
    flex-wrap: wrap;
    display: flex;
}

.Nclient-FormAtt input[type=text] {
    width: 40%;
    height: 30px;
    text-indent: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.Nclient-FormAtt input[type=submit] {
    font-size: 16px;
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.Nclient-FormAtt input[type="radio"] {
    cursor: pointer;
    margin-right: 5px;
}

.Radio-Text {
    display: inline-block;
    color: #555;
    margin-right: 15px;
}

.Nclient-FormAtt label {
    color: #555;
    padding: 12px 27px 12px 0;
    display: inline-block;
}