.FormLogin {
    margin: 0;
    padding: 0;
}

.FormLogin input[type=text] {
    font-size: 15px;
    width: 60%;
    height: 50px;
    text-indent: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.FormLogin input[type=password] {
    font-size: 15px;
    width: 60%;
    height: 50px;
    text-indent: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.FormLogin input[type=submit] {
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: #555;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.FormLogin input[type=checkbox] {
    margin-right: 6px;
}

.FormLogin label {
    display: inline-block;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 15px;
}

.Label-Login-Att {
    text-align: center;
}

.Padding-Login {
    margin-bottom: 1.5rem;
}

.FormLogin input[type=submit]:hover {
    background: #b6b6b6;
}

::-webkit-input-placeholder {
    margin: 15px;
    font-size: 15px;
}

.Icon-Login {
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-left: auto;
    margin-right: 22%;
    margin-top: 12px;
    display: block;
}

.Icon-Login-Pass {
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-left: auto;
    margin-right: 22%;
    margin-top: 37px;
    display: block;
}