/*Attribute for all the Pages*/
body {
  direction: rtl;
  font-family: Trebuchet, sans-serif;
  background: #e5e5e5;
  margin: 0;
}
.Pages-Content{
  padding-top: 116px;
  min-height: 100vh;
}
.Att-PagesContent{
  padding: 0 30px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
.PagesContainer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.Pages-Wrapper{
  overflow: hidden;
}
.Page-Container{
  background: #e5e5e5;
  padding-right: 300px;
}
* {
  margin: 0;
  padding: 0;
}
.FooterText{
  flex: 0 0 100%;
  width:100%;
  height: 50px;
  padding:20px;
}
.FooterTitle{
  position: relative;
  text-align: center;
}
.Footer-Pages{
  margin-top: 15px;
  height: 75px;
  text-align: center;
}
/*The Attributes of Mainpage*/
.Mainlogo{
  position: relative;
  max-width: 100%;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: none;
}
.Main-Title-Footer{
  position: relative;
}
.MainBack{
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.MainTitle{
  position: relative;
  color:#555;
  font-size: 30px;
  font-family: Trebuchet, sans-serif;
  font-weight: 600;
  text-align: center;
}
.MainHeader{
  position: relative;
  background:#dfdede;
  padding: 10px;
}
.Main-HeaderText{
  position: relative;
  font-size: 30px;
  color: #555;
  text-align: center;
  padding:10px;
  font-weight: 400;
}
.Main-Wrap {
  max-width: 540px;
  padding-top: 5vh;
  margin: 0 auto;
}
.Main-Box{
  position: relative;
  background: #ffffff;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.MainAtt{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top:10px;
}
.Main-Icon{
  color: #555;
  font-size: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Main-Title{
  color: #555;
  font-size: 22px;
  font-family: Trebuchet, sans-serif;
  font-weight: 600;
  padding: 10px;
  text-align: center; 
}
.Main-Border{
  border-top: 1px solid #e7e7e7;
  margin-bottom: 7px;
}
.Main-Padding{
  margin-bottom: 1rem;
}
.Main-Label-Att{
  text-align: center;
}
.Main-Return-Link{
  color:#555;
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  margin-right: 5px;
}
.Main-Return-Link:hover{
  background:#b6b6b6;
}
/*Form Login With Attributes*/
.FormLogin{
  margin: 0;
  padding: 0;
}
.FormLogin input[type=text]{
  font-size: 15px;
  width: 60%;
  height: 50px;
  text-indent: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.FormLogin input[type=password]{
  font-size: 15px;
  width: 60%;
  height: 50px;
  text-indent: 50px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.FormLogin input[type=submit]{
  width: 60%;
  height: 50px;
  border: none;
  outline: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: #555;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}
.FormLogin input[type=checkbox]{
  margin-right: 6px;
}
.FormLogin label{
  display:inline-block ;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 15px;
}
.Label-Login-Att{
  text-align: center;
}
.Padding-Login{
  margin-bottom: 1.5rem;
}
.FormLogin input[type=submit]:hover{
  background:#b6b6b6;
}
::-webkit-input-placeholder{
  margin: 15px;
  font-size: 15px;
}
.Icon-Login{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 22%;
  margin-top: 12px;
  display: block;
}
.Icon-Login-Pass{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 22%;
  margin-top: 37px;
  display: block;
}
/*Form Forgot Password With Attributes*/
.FormForgot{
  margin: 0;
  padding: 0;
}
.FormForgot input[type=password]{
  font-size: 15px;
  width: 50%;
  height: 50px;
  text-indent: 50px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.FormForgot input[type=text]{
  font-size: 15px;
  width: 50%;
  height: 50px;
  text-indent: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
}
.FormForgot input[type=submit]{
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 15px;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.FormForgot input[type=submit]:hover{
  background:#b6b6b6;
}
.ReturnLogin:hover{
  background:#b6b6b6;
}
.Icon-Forgot{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 27%;
  margin-top: 12px;
  display: block;
}
.Icon-Forgot-Pass{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 27%;
  margin-top: 27px;
  display: block;
}
.ForgetButton{
  font-size: 15px;
  text-decoration: none;
  color:#555;
}
.ForgetButton:hover{
  background:#b6b6b6;
}
.PaddingForget{
  margin-bottom: 1.5rem;
}
/*Form Register With Attributes*/
.RegistarText{
  position: relative;
  color:#555;
  right: 20%;
}
.RegistarButton{
  width: 75px;
  outline: none;
  border: none;
  font-size:15px;
  color:#555;
  background-color: #dfdede;
  text-decoration: none;
  padding: 3px;
  margin-right: 10px;
}
.RegistarButton:hover{
  background:#b6b6b6;
}
.FormRegister{
  margin: 0;
  padding: 0;
}
.FormRegister input[type=text],[type=email]{
  font-size: 15px;
  width: 50%;
  height: 35px;
  text-indent: 45px;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Padding-Input{
  padding-right: 10px;
}
.FormRegister input[type=password]{
  font-size: 15px;
  width: 50%;
  height: 35px;
  text-indent: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.FormRegister input[type=submit]{
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.FormRegister input[type=submit]:hover{
  background:#b6b6b6;
}
.FormRegister label{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

/* Attributes For Register Icons */
.Icon-Register{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 27%;
  margin-top: 20px;
  display: block;
}
.Icon-Username{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 27%;
  margin-top: 6px;
  display: block;
}
.Icon-Register-Password{
  position: absolute;
  font-size: 1.5em;
  color: #555;
  margin-left: auto;
  margin-right: 27%;
  margin-top: 14px;
  display: block;
}

/*Main Header of all Pages*/
.header-desktop {
  background: #f5f5f5;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 300px;
  height: 75px;
  z-index: 3;
}
/*The Attributes of the box inside the main header*/
.MainHeaderObject {
  position: fixed;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-right: 58%;
  background: #f5f5f5;
}
/*The Attributes of Notification box*/
.NotiBox {
  position: absolute;
  background: #fff;
  border: 1px solid #e5e5e5;
  left:0;
  margin-top: 20px;
  margin-left: 67px;
}
.NotiBox:before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -17px;
  left: 127px;
  z-index: 3;
}
.AccBox:before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -17px;
  left: 10px;
  z-index: 3;
}
*,
::before {
  box-sizing: border-box;
}
.Notification-Title {
  padding: 22px;
  border-bottom: 1px solid #f2f2f2;
  color: #555;
  font-family: Trebuchet, sans-serif;
  font-weight: 600;
}
.Notification-item {
  border-bottom: 1px solid #f2f2f2;
  color: #555;
  font-family: Trebuchet, sans-serif;
  padding: 19px 22px;
  padding-bottom: 14px;
  display: flex;
}
.AccBox{
  height: 200px;
  width: 150px;
  position: absolute;
  background: #fff;
  border: 1px solid #e5e5e5;
  left:0;
  margin-left:32px;
  margin-top: 20px;
  flex:0 0 25%;
}
/*all The Object in Main Header*/
.Object-Att{
  display: flex;
  margin-top: 25px;
  margin-left: 50px;
}
.Accname {
  font-size: 18px;
  color: #333;
  font-family: Trebuchet, sans-serif;
  font-weight: 600;
}
.icon-acc {
  color: #333;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
.Notifications {
  color: #555;
  font-size: 1.5em;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  margin-right:auto;
  padding-left:15px;
}
.Notifications:hover{
  color: #6e6e6e;
}
.icon-acc:hover{
  color: #6e6e6e;
}
/*The Attributes of the Sidebar in all pages*/
.sidebar {
  position: fixed;
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
}
.sidebar .logo {
  position: relative;
  background: #f5f5f5;
  padding: 0 35px;
  height: 75px;
  margin: 0;
  top: 0;
  display: flex;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
  align-items: center;
  z-index: 3;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  border-bottom: 2px solid #f5f5f5;
  padding: 20px;
}
.sidebar a {
  display: block;
  color: #555;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
.sidebar__AttText {
  position: relative;
  padding-top: 30px;
  padding-right: 10px;
}
img {
  max-width: 100%;
  height: 90px;
  margin-right: 20px;
  vertical-align: middle;
  border-style: none;
}
a.nav_link:hover {
  cursor: pointer;
  color: #4272d7;
}
a.active {
  font-weight: bold;
  color: #4272d7;
}
li:hover a,
li#selected a {
  font-weight: bold;
  color: #4272d7;
}
.IconPadding{
  padding-right:10px;
}
/*heading 2,3,4 Attributes */
h2 {
  color: #555;
  font-family: Trebuchet, sans-serif;
}
h3 {
  color: #555;
  margin-right: 5px;
  font-family: Trebuchet, sans-serif;
  font-size: 20px;
  padding: 25px 10px;
}
h4 {
  color: #fff;
  margin-right: 12px;
  font-family: Trebuchet, sans-serif;
  display: inline-block;
  font-size: 20px;
}
/*The Attributes of the Dashboard page*/
.DashBoard-Margin{
  margin-top: 40px;
}
.Dash-Box-Att{
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.BoxInfo {
  border-radius: 20px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding:12px 12px;
  flex:0 0 20%;
}
#ClientDesign {
  background-image: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  background-image: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  background-image: linear-gradient(360deg, #3f5efb 0%, #fc466b 100%);
}
#NclientDesign {
  background-image: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  background-image: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  background-image: linear-gradient(360deg, #11998e 0%, #38ef7d 100%);
}
#SubscriptionDesign {
  background-image: linear-gradient(90deg, #45b649 0%, #dce35b 100%);
  background-image: linear-gradient(90deg, #45b649 0%, #dce35b 100%);
  background-image: linear-gradient(360deg, #45b649 0%, #dce35b 100%);
}
#StatisticsDesign {
  background-image: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  background-image: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  background-image: linear-gradient(360deg, #ee0979 0%, #ff6a00 100%);
}
.DashBoard-Icon {
  color: white;
  text-decoration:none;
}
.DashBoard-Text {
  color: white;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration:none;
}
.BoxStat{
  height: 300px;
  background: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  flex:0 0 45%;
}
.BoxTitle{
  font-size: 20px;
  font-weight: 600;
  color:#555;
  padding: 5%;
}
.TitleClient{
  font-size: 22px;
  font-weight: 600;
  color:#555;
  margin-top: 25px;
  margin-right: 30px;
}
.BoxNewClients{
  height:350px;
  background: white;
  margin-top: 25px;
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  flex: 0 0 95%;
}
.ClientTitle{
  height: 75px;
  background: #333;
}
/*The Attributes of the box inside pages: Customers,Nclients,HealthP*/
.header-Form {
  background: #f5f5f5;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.Flex-Pages{
  display:flex;
  flex-wrap:wrap;
  height: 400;
}
.FormData {
  height: 500px;
  background: #fff;
  margin: 0 auto;
  flex:0 0 75%;
}
.FormClient{
  background: #fff;
  max-width: 540px;
  margin: 0 auto;
}
.Header-Client {
  background: #f5f5f5;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
/*The Attributes of the Statistics page*/
.Flex-Statistic{
  display:flex;
  flex-wrap:wrap;
  height: 350px;
}
.StatisticInfo {
  max-width: 540px;
  background: white;
  margin-left:auto;
  margin-right: auto;
  margin-top:40px;
  flex: 0 0 50%;
}
.HeaderStat {
  background: #333;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 75px;
}
.Statistic-Header-Att{
  padding:10px;
}
.Iconstat {
  position: absolute;
  margin-right: 12px;
  color: #fff;
  margin-top: 10px;
  font-size: 1.5em;
  display: inline-block;
}
/*The Attributes of New Client Page*/
.Nclient-FormAtt {
  color: #555;
  font-weight: bold;
  font-size: 16px;
  margin:0;
  padding: 1.25rem;
}
.Form-Flex{
  flex-wrap: wrap;
  display:flex;
}
.Nclient-FormAtt input[type=text]{
  width:40%;
  height: 30px;
  text-indent:20px;
  margin-right: auto;
  margin-left:auto;
  margin-top: 15px;
}
.Nclient-FormAtt input[type=submit]{
  font-size: 18px;
  font-family: Georgia, serif;
  width: 120px;
  height: 30px;
  border: none;
  outline:none;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.Nclient-FormAtt input[type="radio"]{
  cursor: pointer;
  margin-right: 5px;
}
.Radio-Text{
  display: inline-block;
  color:#555;
  margin-right: 15px;
}
.Nclient-FormAtt label{
  color:#555;
  padding: 12px 27px 12px 0;
  display: inline-block;
}
/*The Attributes of the ExePlan page*/
.ExeMain{
  max-width: 75%;
  margin: 0 auto;
  background: #f5f5f5;
}
.ExeForm{
  color: #555;
  font-weight: bold;
  font-size: 16px;
  margin:0;
  padding: 1.25rem;
}
.Exe-Flex{
  display: flex;
  flex-wrap: wrap;
}
.ExePadding{
  padding-bottom: 2rem
}
.ExeForm input[type=text]{
  width: 30%;
  height:30px;
  text-indent: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ExeForm select{
  width: 30%;
  height:30px;
  text-indent: 10px;
  color:#6e6e6e;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.ExeDays{
  height: 300px;
  display:flex;
  flex-wrap: wrap;
}
.ExeBoxs{
  max-height: 240px;
  border: none;
  outline:none;
  padding:12px 12px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 12%;

}
#SundayDesign {
  background-image: linear-gradient(90deg, #d2fb3f 0%, #fc466b 100%);
  background-image: linear-gradient(90deg, #d2fb3f 0%, #fc466b 100%);
  background-image: linear-gradient(360deg, #d2fb3f 0%, #fc466b 100%);
}
#MondayDesign {
  background-image: linear-gradient(90deg, #2fccbf 0%, #24f708 100%);
  background-image: linear-gradient(90deg, #2fccbf 0%, #24f708 100%);
  background-image: linear-gradient(360deg, #2fccbf 0%, #24f708 100%);
}
#TuesdayDesign {
  background-image: linear-gradient(90deg, #fa2424 0%, #ffa600 100%);
  background-image: linear-gradient(90deg, #fa2424 0%, #ffa600 100%);
  background-image: linear-gradient(360deg, #fa2424 0%, #ffa600 100%);
}
#WednesdayDesign {
  background-image: linear-gradient(90deg, #ee0979 0%, #a7366a 100%);
  background-image: linear-gradient(90deg, #ee0979 0%, #a7366a 100%);
  background-image: linear-gradient(360deg, #ee0979 0%, #a7366a 100%);
}
#ThursdayDesign {
  background-image: linear-gradient(90deg, #fbff04 0%, #00aeff 100%);
  background-image: linear-gradient(90deg, #fbff04 0%, #00aeff 100%);
  background-image: linear-gradient(360deg, #fbff04 0%, #00aeff 100%);
}
#FridayDesign {
  background-image: linear-gradient(90deg, #fbff04 0%, #22ff05 100%);
  background-image: linear-gradient(90deg, #fbff04 0%, #22ff05 100%);
  background-image: linear-gradient(360deg, #fbff04 0%, #22ff05 100%);
}
#SaturdayDesign {
  background-image: linear-gradient(90deg, #d400ff 0%, #ff6a00 100%);
  background-image: linear-gradient(90deg, #d400ff 0%, #ff6a00 100%);
  background-image: linear-gradient(360deg, #d400ff 0%, #ff6a00 100%);
}
.DaysText{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}
.FormMuscles{
  width: 100%;
  height: 75px;
  border: 1px solid #e5e5e5;
  display: block;
}

.TextMuscles{
  position: relative;
  font-size: 16px;
  margin-right: 15px;
  color: #555;
  top: 25px;
}
.ExeBox{
  position: fixed;
  margin-top:20px;
  width: 57%;
  height: 350px;
  right:31.5%;
}
.HeaderBox{
  position: relative;
  width: 300px;
  height: 75px;
  margin-right: 28%;
  margin-top:30px;
}
.ExeHeader{
  position: absolute;
  width: 250px;
  height: 50px;
  font-size: 20px;
  color: #555;
  font-weight: 600;
  right: 27%;
  top:20px;
}
.ExeAttributes{
  height: 300px;
  margin-right: 55px;
  overflow: auto;
  display: flex;
}
.ExeButtons{
  width: 240px;
  height: 75px;
  margin-right: 8px;
  margin-top: 5px;
  color:#555;
  background: #d6d6d6;
  font-weight: 600;
  font-size:14px;
  display:inline-block;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
.ExeButtons:hover{
  background: #9a9a9a;
}
/*Attributes of BuildPlan page*/
.Form-Plan{
  color: #555;
  font-weight: bold;
  font-size: 16px;
  margin:0;
  padding: 1.25rem;
}
.Plan-Flex{
  display:inline-block;
  flex-wrap: wrap;
}
.Plan-Flex input[type="checkbox"]{
  margin-right: 10px;
  cursor: pointer;
}
.Build-Exe-Header{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color:#555;
}
.PlanBox{
  width: 80%;
  height: 500px;
  margin-top:40px;
  margin-right: 10%;
  background: #f5f5f5;
}
.Plan-Padding{
  padding-bottom: 2rem;
}
.PlanHeader{
  font-size: 30px;
  color:#555;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}
.BackPage{
  width: 80px;
  height: 25px;
  color:#555;
  font-size:16px;
  text-decoration: none;
  float:left;
  margin-left: 10px;
  margin-top: 7px;
}
.BackPage:hover{
  color: #333;
}
.quantity{
  position: absolute;
  display: inline-block;
  left:17%;
  padding-top: 2px;
  height: 18px;
  width:18px;
  line-height: 15px;
  text-align: center;
  background: #ff4b5a;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 12px;
}
.ListBox{
  position: absolute;
  width: 300px;
  height: 430px;
  background: #555;
  margin-top:4%;
  left: 7%;
  border-bottom: 1px solid #f2f2f2;
  z-index:3; 
}

/*Attributes of icon Exercises List and List Box*/
.iconList{
  float:left;
  margin-left:10%;
  margin-top:2%;
  font-size: 30px;
  color:#555;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
}
.ListBox::before{
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #555;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -17px;
  float:left;
  right:45%;
  z-index: 3;
}
.itemsBox{
  position: relative;
  width:300px;
  height: 310px;
  overflow:auto;
}
.Closeitem{
  position: absolute;
  left:8px;
  font-size:18px;
  transform: rotate(45deg);
  cursor: pointer;
}
.HeaderList{
  color:#fff;
  font-size:22px;
  text-align: center;
  margin-top:5px;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
  padding: 12px;
}
.HeaderMuscle{
  color:#fff;
  font-size:22px;
  text-align: center;
  margin-top:5px;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
  padding: 12px;
}
.ExercisesText{
  border-bottom: 1px solid #f2f2f2;
  color: #fff;
  padding: 19px 22px;
  padding-bottom: 14px;
  display: flex;
}
.ListBoxFooter{
  position: relative;
  widows: 300px;
  height: 65px;
}
.ButtonSave{
  position: relative;
  margin-top: 5%;
  margin-right: 5%;
  width: 130px;
  color:#333;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline:none ;
}
.ButtonClose{
  position: relative;
  margin-top: 5%;
  margin-right: 3%;
  width: 130px;
  color:#333;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline:none ;
}
/*Attributes of Updates page*/
.Form-Update{
  color: #555;
  font-weight: bold;
  font-size: 16px;
  margin:0;
  padding: 1.25rem;
}
.Form-Update input[type="text"]{
  width: 60%;
  height: 40px;
  font-size: 16px;
  color:#555;
  text-indent:25px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.Form-Update input[type="submit"]{
  font-family: Trebuchet, sans-serif;
  font-size: 16px;
  width: 120px;
  height: 30px;
  border: none;
  outline:none;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.Form-Update label{
  text-align: center;
  font-weight: 600;
  display: block;
}
textarea{
  width: 50%;
  height: 150px;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
/*Attributes of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
