/*Attribute for all the Pages*/
body {
  direction: rtl;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  background: #e5e5e5;
  margin: 0;
}

.Pages-Content {
  padding-top: 116px;
  min-height: 100vh;
}

.Att-PagesContent {
  padding: 0 30px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.PagesContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Pages-Wrapper {
  overflow: hidden;
}

.Page-Container {
  background: #e5e5e5;
  padding-right: 300px;
}

* {
  margin: 0;
  padding: 0;
}

.FooterText {
  flex: 0 0 100%;
  width: 100%;
  height: 50px;
  padding: 20px;
}

.FooterTitle {
  position: relative;
  text-align: center;
}

.Footer-Pages {
  margin-top: 15px;
  height: 75px;
  text-align: center;
}

/*The Attributes of Mainpage*/
.Mainlogo {
  position: relative;
  max-width: 100%;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: none;
}

.Main-Title-Footer {
  position: relative;
}

.MainBack {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.MainTitle {
  position: relative;
  color: #555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.MainHeader {
  position: relative;
  background: #dfdede;
  padding: 10px;
}

.Main-HeaderText {
  position: relative;
  font-size: 30px;
  color: #555;
  text-align: center;
  padding: 10px;
  font-weight: 400;
}

.Main-Wrap {
  max-width: 540px;
  padding-top: 5vh;
  margin: 0 auto;
}

.Main-Box {
  position: relative;
  background: #ffffff;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.MainAtt {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Main-Icon {
  color: #555;
  font-size: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Main-Title {
  color: #555;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.Main-Border {
  border-top: 1px solid #e7e7e7;
  margin-bottom: 7px;
}

.Main-Padding {
  margin-bottom: 1rem;
}

.Main-Label-Att {
  text-align: center;
}

.Main-Return-Link {
  color: #555;
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  margin-right: 5px;
}

.Main-Return-Link:hover {
  background: #b6b6b6;
}

/*Form Register With Attributes*/


/*The Attributes of the Sidebar in all pages*
/*heading 2,3,4 Attributes */
h2 {
  color: #555;
}

h3 {
  color: #555;
  margin-right: 5px;
  font-size: 20px;
  padding: 25px 10px;
}

h4 {
  color: #fff;
  margin-right: 12px;
  display: inline-block;
  font-size: 20px;
}

/*The Attributes of the box inside pages: Customers,Nclients,HealthP*/
.header-Form {
  background: #f5f5f5;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.Flex-Pages {
  display: flex;
  flex-wrap: wrap;
  height: 400;
}

.FormData {
  height: 500px;
  background: #fff;
  margin: 0 auto;
  flex: 0 0 75%;
}

.FormClient {
  background: #fff;
  max-width: 540px;
  margin: 0 auto;
}

.Header-Client {
  background: #f5f5f5;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

/*Attributes of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}