.FormForgot {
    margin: 0;
    padding: 0;
}

.FormForgot input[type=password] {
    font-size: 15px;
    width: 50%;
    height: 50px;
    text-indent: 50px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.FormForgot input[type=text] {
    font-size: 15px;
    width: 50%;
    height: 50px;
    text-indent: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}

.FormForgot input[type=submit] {
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 15px;
    color: #555;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.FormForgot input[type=submit]:hover {
    background: #b6b6b6;
}

.ReturnLogin:hover {
    background: #b6b6b6;
}

.Icon-Forgot {
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-left: auto;
    margin-right: 27%;
    margin-top: 12px;
    display: block;
}

.Icon-Forgot-Pass {
    position: absolute;
    font-size: 1.5em;
    color: #555;
    margin-left: auto;
    margin-right: 27%;
    margin-top: 27px;
    display: block;
}

.ForgetButton {
    font-size: 15px;
    text-decoration: none;
    color: #555;
}

.ForgetButton:hover {
    background: #b6b6b6;
}

.PaddingForget {
    margin-bottom: 1.5rem;
}