.Settings-Container {
    padding-right: 215px;
}

.Settings-Content {
    padding-top: 15px;
}

.Main-Settings {
    max-width: 75%;
    height: 380px;
    margin: 0 auto;
    background: #f5f5f5;
}

.Setting-Sidebar {
    position: fixed;
    width: 215px;
    background: white;
}

.Settings-logo {
    display: flex;
    border-bottom: 2px solid #e7e7e7;
    height: 75px;
    background: #f5f5f5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.Logo-Text {
    display: block;
    margin: auto;
    font-weight: 600;
    color: #555;
    font-size: 22px;
}

.Settings-Header {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    height: 75px;
}

.Settings-nav {
    border-bottom: 1px solid #e7e7e7;
    color: #555;
    padding: 27px;
    display: block;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.Settings-nav:hover {
    color: #4272d7;
}

.Settings-nav:active {
    font-weight: 600;
    color: #4272d7;
}

.Settings-Window {
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.Settings-Page-Header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.Main-Settings-Icon {
    color: #555;
    font-size: 1.3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Settings-Padding {
    padding-bottom: 1rem
}



/* Attributes for ChangePass page */
.Form-Password-Settings {
    color: #555;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0.5rem;
}

.Form-Password-Settings input[type=password] {
    width: 35%;
    height: 40px;
    text-indent: 50px;
    margin-top: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.Form-Password-Settings input[type=submit] {
    width: 35%;
    height: 40px;
    margin-top: 25px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.Icon-Password {
    position: absolute;
    font-size: 1.2em;
    color: #555;
    margin-left: auto;
    margin-right: 18%;
    margin-top: 25px;
    display: block;
}

/* Attributes for ChangeEmail page */
.Form-Email-Settings input[type=email] {
    width: 40%;
    margin-top: 25px;
}

.Form-Email-Settings input[type=submit] {
    width: 40%;
    height: 40px;
    margin-top: 25px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.Icon-Email {
    position: absolute;
    font-size: 1em;
    color: #555;
    margin-left: auto;
    margin-right: 16%;
    margin-top: 5px;
    display: block;
}

#Icon-ReEmail {
    margin-top: 30px
}

/* Attributes for settings footer */
.FooterContainer {
    padding-right: 380px;
    margin-left: 165px;
}

.FooterSettings {
    flex: 0 0 100%;
    width: 100%;
    height: 50px;
    padding: 20px;
}

.Footer-Settings-Title {
    position: relative;
    text-align: center;
}